[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = {git = "https://github.com/PyCQA/pylint.git", ref = "2.1.1", editable = true, markers = "python_version >= '3.4'"}
